{% extends 'base.html' %}
{% block content %}
<h1>CMMS</h1>
<div class="headers">
    <!-- <span>Главная страница</span> -->
    <!-- <span>Расписание: <input type="date" name="calendar"></span> -->
</div>
<div class="main_box_info">
    <div class="titel_box_info">
        <span>График обслуживания</span>
    </div>
{#    <div class="schedule">#}
{#        <span>Расписание: <input type="date" name="calendar"></span>#}
{#    </div>#}

    <div class="buttom_menu buttom_menu_top">
        <button>Экспорт</button>
    </div>
    <div class="table_box">
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>Название</th>
                    <th>Вид работы</th>
                    <th>Статус расписания</th>
                    <th>Дата последнего выполнения</th>
                    <th>Следующая дата</th>
                    <th>Регламентная работа</th>
                </tr>
            </thead>
            <tbody>
                {% for m in maint %}
                    {% if new_data >= m.data_time %}
                        <tr style="background: #ff1919" id="tr-maint" data-value="{{ m.id }}">
                        {% else %}
                             <tr id="tr-maint" data-value="{{ m.item.id }}" >
                        {% endif %}

                        <td>{{ m.id }}</td>
                        <td>{{ m.item.name}}</td>
                        <td>{{ m.name }}</td>
                        <td>{{ m.schedules.name }}</td>
                        <td>{{ m.data_time_old.strftime('%d.%m.%Y')}}</td>
                        <td>{{ m.data_time.strftime('%d.%m.%Y') }}</td>
                        <td>{{ m.regulatory_work.name }}</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>


<div class="main_box_info">
    <div class="titel_box_info">
        <span>Карточка оборудования</span>
    </div>
    <div class="buttom_menu buttom_menu_top">
        <button onclick="location.href='{{ url_for('index.add_item') }}'">Добавить</button>
    </div>

    <div class="table_box">
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>Название</th>
                    <th>Производитель</th>
                    <th>Модель</th>
                    <th>Статус</th>
                    <th>Состояние</th>
                    <th>Место экспулатации</th>
                </tr>
            </thead>
            <tbody>
                {% for m in item %}
                    <tr id="tr_item" data-value="{{ m.id }}">
                        <th scope="row">{{ m.id }}</th>
                        <td>{{ m.name }}</td>
                        <td>{{ m.model_item.parent.name }}</td>
                        <td>{{ m.model_item.name }}</td>
                        <td>{{ m.model_StatusItme.name }}</td>
                        <td>{{ m.model_ConditionItme.name }}</td>
                        <td>{{ m.model_PlaceOperation.name }}</td>
                    </tr>
                {% endfor %}


            </tbody>
        </table>
    </div>
</div>

    <script>
        document.querySelectorAll('#tr-maint').forEach((tre) =>{
            tre.addEventListener('click', (e) => {
                location.href=`/maintenance-menu/${tre.getAttribute('data-value')}`
            })
        } )

        document.querySelectorAll('#tr_item').forEach((tr) =>{
            tr.addEventListener('click', (e)=>{
                location.href=`/itme/${tr.getAttribute('data-value')}`
                {#document.querySelector(`input[value="${tr.getAttribute("data-value")}"]`).checked = true;#}
            })
        })
    </script>


{% endblock %}