{% extends 'base.html' %}
{% block content %}
    <div class="window_flag_close">
        <span>Карточка</span>
        <a href="#" class="flag_close"></a>
    </div>

    <div class="menu_box">
        <div class="left_menu_item">
            <a href="" class="menu_item activate_menu_item">Основное</a>
            <a href="" class="menu_item">Обслуживание</a>
        </div>
        <div class="right_menu_item">
            <a href="" class="menu_item">Документы</a>
            <a href="" class="menu_item">Коментарии</a>
        </div>
    </div>

    <div class="main_box_info">
        <div class="titel_box_info">
            <span>Идентификационные данные</span>
        </div>
        <div class="box_body_main">
            <div class="box_info">
                <div class="box_info_body">
                    <span>Название</span>
                    <input type="text">
                </div>
                <div class="box_info_body">
                    <span>Производитель</span>
                    <select id="{{ name_table['ManufacturerItme'] }}" required>
                        {% for foo in manufactureritme %}
                        	<option value="{{ foo.id }}">{{ foo.name }}</option>
                        {% endfor %}
                    </select>
                    <button class="add" onclick="openDialog('{{ url_for('index.add_delete_option' , data=name_table['ManufacturerItme']) }}')"></button>
                </div>
                <div class="box_info_body">
                    <span>Модель</span>
                    <select id="{{ name_table['ModelItme'] }}" required>
                        {% for foo in modelitme %}
                        	 <option value="{{ foo.id }}">{{ foo.name }}</option>
                        {% endfor %}
                    </select>
                    <button class="add" onclick="openDialog('{{ url_for('index.add_delete_option' , data=name_table['ModelItme']) }}?id=' + document.getElementById('manufactureritme').value)"></button>
                </div>
            </div>
            <div class="box_info_body" style="display: flex; align-items: center;	width: 64%; margin-left: 20px;">
                <span>Описание</span>
                <textarea style="width: 90%" name="mess" id="" cols="30" rows="9"></textarea>
            </div>
        </div>
    </div>

    <div class="main_box_info">
        <div class="titel_box_info">
            <span>Состояние</span>
        </div>
        <div class="box_body_main">
            <div class="box_info">
                <div class="box_info_body">
                    <span>Статус</span>
                    <select id="{{ name_table['StatusItme'] }}" required>
                        {% for i in statusitme %}
                        	<option value="{{ i.id }}">{{ i.name}}</option>
                        {% endfor %}
                    </select>
                    <button class="add" onclick="openDialog('{{ url_for('index.add_delete_option' , data=name_table['StatusItme']) }}')"></button>
                </div>
                <div class="box_info_body">
                    <span>Состояние</span>
                    <select id="{{ name_table['ConditionItme'] }}" required>
                        {% for i in conditionitme %}
                        	<option value="{{ i.id }}">{{ i.name}}</option>
                        {% endfor %}
                    </select>
                    <button class="add" onclick="openDialog('{{ url_for('index.add_delete_option' , data=name_table['ConditionItme']) }}')"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="main_box_info">
        <div class="titel_box_info">
            <span>Дополнительная информация</span>
        </div>
        <div class="box_body_main box_in_row" >
            <div class="box_info box_info_in_line">
                <div class="box_info_body">
                    <span>Тип оборудования</span>
                    <select id="{{ name_table['TypeEquipment'] }}" required>
                        {% for i in typeequipment %}
                        	<option value="{{ i.id }}">{{ i.name}}</option>
                        {% endfor %}
                    </select>
                    <button class="add" onclick="openDialog('{{ url_for('index.add_delete_option' , data=name_table['TypeEquipment']) }}')"></button>
                </div>
                <div class="box_info_body">
                    <span>Место эксплуатации</span>
                    <select id="{{ name_table['PlaceOperation'] }}" required>
                        {% for i in placeoperation %}
                        	<option value="{{ i.id }}">{{ i.name}}</option>
                        {% endfor %}
                    </select>
                    <button class="add" onclick="openDialog('{{ url_for('index.add_delete_option' , data=name_table['PlaceOperation']) }}')"></button>
                </div>
                <div class="box_info_body">
                    <span>Вес</span>
                    <input type="number" required>
                </div>
                <div class="box_info_body">
                    <span>Стоимость</span>
                    <input type="number" required>
                </div>
            </div>
            <div class="box_info_body">
                <span>Дата ввода в эксплуатацию</span>
                <input type="date" name="calendar" value="{{ data_time }}" required>
            </div>
        </div>
    </div>

    <div class="buttom_menu" style="display: flex; justify-content: flex-end;">
        <button>OK</button>
        <button>Сохронить</button>
        <button onclick="location.href='{{ url_for('index.index') }}'">Отмента</button>
    </div>

    <dialog id="dialog_open_option" class="dialog_window">
        <iframe id="dialogIframe" width="900px" height="510px" style="border: none;"></iframe>
    </dialog>


    <script src="{{ url_for('static', filename='js/dialog_open_window.js') }}"></script>

{#    <script>#}
{#            document.getElementById('manufactureritme').addEventListener('change', function(event){#}
{#            url = location.protocol + '//' + location.host + location.pathname + '?id='+ event.target.value#}
{#            window.open(url,"_self") });#}
{#        </script>#}
    
{% endblock %}