{% extends  'base.html' %}
{% block content %}
    <div class="window_flag_close">
        <span>График обслуживания, оборудования: {{ item.name }}</span>
        <a href="#" class="flag_close"></a>
    </div>

    <div class="main_box_info">
        <div class="titel_box_info">
            <span>График</span>
        </div>
        <div class="buttom_menu buttom_menu_top">
            <button type="button" onclick="open_new('{{ item.id }}')">Открыть</button>
             <button type="button" onclick="location.href='{{ url_for('index.maintenance', id=item.id, id_maintenance=0) }}'">Добавить</button>
            <button type="button" onclick="delete_item_maintenance('{{ item.id }}')">Удалить</button>
            <button type="button" onclick="check_work('{{ item.id }}')">Выполнено</button>
        </div>

        <div class="table_box">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Вид работы</th>
                        <th>Статус расписания</th>
                        <th>Дата последнего выполнения</th>
                        <th>Следующая дата</th>
                        <th>Регламентная работа</th>
                    </tr>
                </thead>
                <tbody>
                    {% for m in q %}
                        {% if m.check_work %}
                            <tr style="background: #08d508" data-value="{{ m.id }}">
                        {% else %}
                            {% if new_data >= m.data_time %}
                                <tr style="background: #ff1919" data-value="{{ m.id }}">
                                {% else %}
                                     <tr data-value="{{ m.id }}">
                            {% endif %}
                        {% endif %}
                            <th scope="row"><input type="radio" name="group" value="{{ m.id }}"></th>
                            <td>{{ m.name }}</td>
                            <td>{{ m.schedules.name }}</td>
                            <td>{{ m.data_time_old.strftime('%d.%m.%Y')}}</td>
                            <td>{{ m.data_time.strftime('%d.%m.%Y') }}</td>
                            <td>{{ m.regulatory_work.name }}</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

        <div class="buttom_menu" style="display: flex; justify-content: flex-end;">
            <button  onclick="location.href='{{ url_for('index.render_item_and_update_and_delete', id=item.id) }}'">OK</button>
        </div>

    <script>
        function open_new(url){
            document.querySelectorAll('input').forEach((input) =>{
                if (input.checked){
                    location.href=`/maintenance/${input.value}/item/${url}/`
                }
            })
        }

        function delete_item_maintenance(url){
            document.querySelectorAll('input').forEach((input) =>{
                if (input.checked){
                    let isBoss = confirm("Вы уверены, что хотите удалить ?");
                    if (isBoss){
                        location.href=`/maintenance-menu/${url}/?delete=${input.value}`
                    }
                }
            })
        }

        function check_work(url){
            document.querySelectorAll('input').forEach((input) =>{
                if (input.checked){
                    location.href=`/maintenance-menu/${url}/?work=${input.value}`
                }
            })
        }

        document.querySelectorAll('tr').forEach((tr, index) =>{
            tr.addEventListener('click', (e)=>{
                document.querySelector(`input[value="${tr.getAttribute("data-value")}"]`).checked = true;
            })
        })
    </script>


{% endblock %}