{% extends 'base.html' %}
{% block content %}
    <div class="window_flag_close">
        <span>Обслуживание</span>
        <a href="#" class="flag_close"></a>
    </div>

    <div class="main_box_info">
        <div class="titel_box_info">
            <span>Обслуживание</span>
        </div>
        <div class="box_body_main box_info_body_full_screen_flex">
            <div class="box_info box_info_body_full_screen_flex">
                <div class="box_info_body box_info_body_full_screen_flex">
                    <span>Регламентная работа</span>
                    <select>
                        <option>G4</option>
                        <option>Mode	658</option>
                        <option>SIPNF 568523</option>
                    </select>
                    <button class="add"></button>
                </div>
                <div class="box_info_body box_info_body_full_screen_flex">
                    <span>Вид работы</span>
                    <input class="input_text" type="text">
                </div>

                <div class="box_info_body box_info_body_full_screen_flex">
                    <span>Тип расписания</span>
                    <select>
                        <option>Ежемесячно</option>
                        <option>Ежегодно</option>
                        <option>Раз в 3 месяца</option>
                        <option>Раз в 6 месяцев</option>
                    </select>
                    <button class="add"></button>
                </div>

                <div class="box_info_body box_info_body_full_screen_flex">
                    <span>Дата последней работы</span>
                    <input type="date" name="calendar">
                </div>

            </div>
        </div>
    </div>

    <div class="buttom_menu" style="display: flex; justify-content: flex-end;">
{#        <button>Удалить</button>#}
        <button>Сохранить</button>
        <button>Отмена</button>
    </div>

{% endblock %}