<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<div class="main_box">
		<div class="window_flag_close">
			<span>Обслуживание</span>
			<a href="#" class="flag_close"></a>
		</div>

		<div class="main_box_info">
			<div class="titel_box_info">
				<span>Обслуживание</span>
			</div>
			<div class="box_body_main box_info_body_full_screen_flex">
				<div class="box_info box_info_body_full_screen_flex">
					<div class="box_info_body box_info_body_full_screen_flex">
						<span>Регламентная работа</span>
						<select>
							<option>G4</option>
							<option>Mode	658</option>
							<option>SIPNF 568523</option>
						</select>
						<a class="add"></a>
					</div>
					<div class="box_info_body box_info_body_full_screen_flex">
						<span>Вид работы</span>
						<input class="input_text" type="text">
					</div>

					<div class="box_info_body box_info_body_full_screen_flex">
						<span>Тип расписания</span>
						<select>
							<option>Ежемесячно</option>
							<option>Ежегодично</option>
							<option>Раз в 3 месяца</option>
							<option>Раз в 6 месяцев</option>
						</select>
						<a class="add"></a>
					</div>

					<div class="box_info_body box_info_body_full_screen_flex">
						<span>Дата последней работы</span>
						<input type="date" name="calendar">
					</div>

				</div>
			</div>
		</div>

		<div class="buttom_menu" style="display: flex; justify-content: flex-end;">
			<button>OK</button>
			<button>Сохронить</button>
			<button>Отмента</button>
		</div>

	</div>


</body>
</html>