<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CMMS</title>
{#    {{ turbo() }}#}
    <script src="{{ url_for('static', filename='js/turbo.es2017-umd.js') }}"></script>
    <script>Turbo.connectStreamSource(new WebSocket(`ws${location.protocol.substring(4)}//${location.host}/turbo-stream`));</script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
	<div class="main_box">
        {% block content %}

        {% endblock content %}
	</div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>